
/* Variables */
$background-color: #303841;

/* Device Breakpoints px - < 576 < 768 < 992 < 1200 */
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
/* mixins */
@mixin respond-to($media) {
  @if $media == small {
    @media (min-width: $break-small) { @content; }
  } 
  @else if $media == medium {
    @media (min-width: $break-medium) and (min-height: $break-small) { @content; }
  }
  @else if $media == large {
    @media (min-width: $break-large) and (min-height: $break-small) { @content; }
  }
  @else if $media == xlarge {
    @media (min-width: $break-xlarge) and (min-height: $break-medium) { @content; }
  }
}

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
// body {
//   background: $background-color;
// }

body {
  padding-top: 3.5rem;
}
blockquote {
  font-style: italic;
  text-align: right;
}
.nav-item {
  @include respond-to(medium) {
    padding-left: 1rem;
  } 
  @include respond-to(large) {
    padding-left: 2rem;
  } 
}
.row {
  padding-top: 1rem;
}
.add-post {
  padding: 2rem 0 2rem 0;
}
.form-group {
  p {
    margin: 0;
    font-weight: bold;
  }
}
.form-text {
  width: 100%;
  margin-bottom: 1rem;
}